.spaceHeader {
    color: green;

    .ant-menu-item {
        &-selected {
            background-color: transparent;
        }

        &:hover {
            background-color: transparent;
        }

        &-active {
            background: transparent;
        }
    }
}